@model FilmSerija.Models.Serija
@{
    ViewBag.Title = "Detalji o seriji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji o seriji</h2>

<p><strong>Naslov:</strong> @Model.Naslov</p>
<p><strong>Žanr:</strong> @Model.Zanr</p>
<p><strong>Godina:</strong> @Model.Godina</p>
<p><strong>Broj sezona:</strong> @Model.BrojSezona</p>

@if (!string.IsNullOrEmpty(Model.PutanjaSlike))
{
    <p><strong>Poster:</strong></p>
    <img src="@Model.PutanjaSlike" width="200" />
}

<p>
    @Html.ActionLink("Nazad na listu", "Index") |
    @Html.ActionLink("Izmeni", "Edit","Serija", new { id = Model.Id }) |
    @Html.ActionLink("Obriši", "Delete","Serija", new { id = Model.Id })
</p>
